
/* Font for Short Resume & Tabitha Ncooro */
@import url('https://fonts.googleapis.com/css?family=Lobster');





/* CSS incl Font for Navbar & Timeline 'P', 'E', 'W', 'I' */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: bolder;
  display: inline-block;
  /* text-decoration: inherit; */
  width: 1em;
  /* margin-right: 0.2em; */
  text-align: center;
  opacity: 0.8;
/* buttons height */
  line-height: 1em;
/* Animation center compensation - margins are symmetric */
  /* margin-left: 0.2em; */
/* increased icons size */
font-size: 120%;
/* 3D effect */
text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.3);
}


/* CSS - Unicode Characters S,P,F,E,I,W */
.icon-star-1:before { content: '\48'; } /* 'H' */
.icon-address:before { content: '\50'; } /* 'P' */
.icon-down-circled:before { content: '\66'; } /* 'f' */
.icon-graduation-cap:before { content: '\45'; } /* 'E' */
.icon-user:before { content: '\49'; } /* 'I' */
.icon-briefcase:before { content: '\57'; } /* 'W' */



/* CSS for Centre Margin + Positioning of Dialogue Boxes on either side of the centre line*/
* {
	 -webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* CSS for TIMELINE (Body of Whole Resume - minus Navbar) & TEXT IN DIALOGUE BOXES */
body {
	/* background:#ebe7e4; */
	background-image: url("blueBackground.jpg");
	color:#070707;
	font-size:14px;
	font-family:helvetica;
	overflow-y:scroll;
}

/* CSS for NAVBAR */
body > header {
	width:100%;
	position:fixed;
	z-index:30;
	background:#E0DCD9;
	border-bottom:10px solid #a43903bb;
	box-shadow:0 1px 1px #a43903bb;
	top:0;
	left:0;
}

/* CSS for NAVBAR i.e ALL, P, E, W, I */
body > header nav {
	width:1600px;
	/* margin:0 auto; */
	/* overflow:hidden; */
	background-image: url("NavyBackground.jpg");
}

/* CSS for NAVBAR i.e ALL, P, E, W, I */
body > header nav ul {
	margin:0 0 0 -50;
	padding:0;
	text-align:center;
	font-size: 0em;
	/* letter-spacing: 0px;
	word-spacing: 0px; */
}

/* CSS for NAVBAR i.e ALL, P, E, W, I */
body > header nav li {
	display:inline-block;
	cursor:pointer;
	border-left:1px solid #a84b04;
	border-top:1px solid #a84b04;
	box-shadow:-1px 0px 1px #a84b04;
	padding:1.8em;
	font-size:18px;
}

/* CSS for Header Navbar - Text color(WHITE) */
body > header nav li:active,body > header nav li.active {
	color:rgb(252, 247, 247);
}



/* CSS for Timeline Container (Short Resume & Tabitha Ncooro */	
div#timeline_container {
	width:960px;
	margin:120px auto;
	position:relative;
}


div#timeline_container header {
	position:relative;
	/* z-index:20; */
}

/* CSS for Timeline Container - Header Figure (Large Circle */
div#timeline_container header figure {
	width:200px;
	height:200px;
	border-radius:50%;
	border:5px solid #cdc9c6;
	overflow:hidden;
	display:block;
	margin:0 auto;
	/* background-image: url("Tabitha_W_N_Image.png"); */
	/* background-size: cover;
	background-position: center; */
}



/* CSS for Timeline Container - Header Figure Image inside Large Circle */
div#timeline_container header figure img {
	height:100%;       		
}

/* CSS for Header (Short Resume + Tabitha Ncooro) - text, font, position etc */
div#timeline_container header h1 {
	position:absolute;
	top:20px;
	right:80px;
	font-family: 'Lobster', cursive;
	font-size:2.8em;
	/* text-shadow:2px 2px 1px #fff; */
	font-weight:normal;
}

/* CSS for Timeline Container - Line Dividing Timeline + 'all timeline contents'*/
div#timeline_container > ul {
	position:relative;
	width:4px;
	background:#cdc9c6;
	border-right:1px solid white;
	margin:0 auto;
	padding:6em 0 0;
	list-style:none;      		
}

/* CSS for bottom circle at the end of the Timeline */
div#timeline_container > ul:after {
	content:"";
	width:15px;
	height:15px;
	border-radius:50%;
	background:#cdc9c6;
	box-shadow:1px 1px 1px white;
	position:absolute;
	bottom:0;
	left:-6px;
}

/* CSS TIMELINE CONTAINER UL LI */
div#timeline_container > ul > li {
	position:relative;
	padding:.3em 0;
	min-height:230px;
	cursor:pointer;
	
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}


div#timeline_container > ul > li.hidden {
	position:absolute;
	top:-500px;
}


div#timeline_container > ul > li div {
	position:absolute;
}


div#timeline_container > ul li > div.event_icn {
	padding:0.3em;
	font-size:1.7em;
	border-radius:50%;
	background:#ebe7e4;
	border:3px solid #cdc9c6;
	margin-left:-22px;
	color:rgba(85,86,86,0.3);
	box-shadow:1px 1px 1px white;

	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

/* CSS circle container P,E,W,I when you hover */
div#timeline_container > ul > li:hover div.event_icn,div#timeline_container > ul li.active div.event_icn{color:white;}

/* CSS circle container "P" */
div#timeline_container > ul > li.life_event div.event_icn { background:#080808;}
div#timeline_container > ul li.life_event:hover div.event_icn,div#timeline_container > ul li.life_event.active div.event_icn {background:#080808}

/* CSS circle container "E" */
div#timeline_container > ul > li.education_event div.event_icn { background:#080808}
div#timeline_container > ul > li.education_event:hover div.event_icn,div#timeline_container > ul li.education_event.active div.event_icn { background:#080808}

/* CSS circle container "W" */
div#timeline_container > ul > li.work_event div.event_icn { background:#080808}
div#timeline_container > ul > li.work_event:hover div.event_icn,div#timeline_container > ul li.work_event.active div.event_icn { background:#080808}

/* CSS circle container "I" */
div#timeline_container > ul > li.user_event div.event_icn {background:#080808}
div#timeline_container > ul > li.user_event:hover div.event_icn,div#timeline_container > ul li.user_event.active div.event_icn { background:#080808}


div#timeline_container > ul > li div.event_content {
	width:400px;
	padding:1em 2em 1.3em;
	border:1px solid #DDDBDA;
	border-radius:10px;
	top:-2em;
	opacity:0.3;
	background:white;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

/* TIMELINE CONTAINER UL LI */
div#timeline_container > ul > li div.event_content a{color:#f9f7f7;}

div#timeline_container > ul > li:hover div.event_content,div#timeline_container > ul li.active div.event_content {
	opacity:1;
}
div#timeline_container > ul > li:nth-child(odd) div.event_content {
	right:-470px;
}
div#timeline_container > ul > li:nth-child(even) div.event_content {
	left:-470px;
	text-align:right
}


div#timeline_container > ul > li div.event_content:before {
	content:"";
	position:absolute;
	width:20px;
	height:20px;
	border-bottom:1px solid #DDDBDA;
	border-left:1px solid #DDDBDA;
	top:3em;
	background:#ebe7e4;
	margin-top:8px;
	background:white;
}

       	
div#timeline_container > ul > li:nth-child(odd) div.event_content:before {
	left:-11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}


div#timeline_container > ul > li:nth-child(even) div.event_content:before {
	right:-11px;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

/* TIMELINE CONTAINER - EVENT CONTENT H2 */
div#timeline_container > ul > li div.event_content h2 {
	margin:0.3em 0;
	padding:0;
	text-transform:capitalize;
	font-size:1.4em;
}

/* TIMELINE CONTAINER - EVENT CONTENT P */
div#timeline_container > ul > li div.event_content p {
	margin:0;
	padding:0;
	line-height:1.5em;
}

/* TIMELINE CONTAINER - EVENT CONTENT UL */
div#timeline_container > ul > li div.event_content ul {
	margin:0;
	padding:0;
	list-style:none;
	line-height:1.5em;
}

/* TIMELINE CONTAINER - EVENT DATE */
div#timeline_container > ul > li div.event_date {
	top:1em;
	width:180px;
	text-align:right;
	font-size:1.2em;
	text-shadow:1px 1px 1px rgba(118, 117, 117, 0);
	opacity:0.3;
	font-weight:bold;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

/* CSS for event date on timeline */
div#timeline_container > ul > li:nth-child(even) div.event_date {text-align:left;}

div#timeline_container > ul > li:hover div.event_date,div#timeline_container > ul li.active div.event_date {opacity:0.9;}
div#timeline_container > ul > li:nth-child(odd) div.event_date {right:60px;}
div#timeline_container > ul > li:nth-child(even) div.event_date {left:60px;}

div#info_container:hover {
	opacity:0.9;
}


